/* src/components/HeroSection.css */
.hero-section {
  background: url('https://www.fortishealthcare.com/drupal-data/styles/banner_image/azblob/2023-03/New-Web-Banner-03.jpg?itok=cxkOaBxp') center/cover no-repeat; /* Set the background image */
  color: #2d9596; /* Change text color */
  padding: 0rem 0; /* Adjust the padding as needed */
  text-align: center;
  height: 100vh; /* Utilize the complete screen size */
  display: flex;
  width: 122%;
  flex-direction: column;
  justify-content: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.additional-text {
  font-size: 1.1rem;
  margin-top: 1rem;
}

.cta-button {
  background-color: #2d9596;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #265073;
}
